.booksPageContainer {
    padding: 20px; /* Відступи з усіх боків */
    background-color: #f9f9f9; /* Легкий фон для контрасту */
}

.tableContainer {
    margin-top: 20px; /* Відступ зверху для таблиці */
}


.editAction {
    margin-right: 12px;
}

.deleteAction {
    color: red;
}